<div class="container p-3">
    <div class="columns">
        <div class="column box">
            <form>
                <div class="field">
                    <label class="label">Tareas</label>
                    <div class="control">
                    
                        <input class="input" type="text" placeholder="Tareas" [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                    
                    
                    </div>
                </div>
                
                <div class="field is-grouped">
                    <div class="control">
                    <button class="button is-info" (click)="agregarTarea()">Agregar</button>
                    </div>
                    <div class="control">
                    <button class="button is-success is-light" (click)="guardarListas()">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="column box p-3">
            Tareas por realizar 

            <div class="card p-2" *ngFor="let tarea of tareas">
                {{ tarea.tarea }} - {{ tarea.id }}
                <button class="delete mx-4" (click)="eliminarTarea(tarea.id, tarea.tarea)">

                </button>
            </div>
        </div>
        <div class="column box p-3">
            Tareas realizadas <button class="delete mx-4" (click)="eliminarTareasNot()"></button>
            <div class="card p-2" *ngFor="let tarea of tareas_not">
                {{ tarea.tarea }} - {{ tarea.id }}
            </div>
        </div>
    </div>
</div>
